.header{
  background-color: #232f3e;
  color: white;
  font-weight: bold;
  height: 66px;
  padding-top: 12px;
  margin-bottom: 25px;
}
.link{
  cursor: pointer;
  margin-top: 10px;
  color: white;

  &:hover{
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    color: white;
  }
}

.log-out{
  color: white;
  margin-top: 6px;
  margin-left: 1220px;

  &:hover{
    color: gray;
  }
}

.icon{
padding-top: 0px;
  padding-right: 15px;
}
