
.item-image{
  vertical-align: center;
  float: left;
  margin: 18px 182px 182px;
}
.item-details{
  margin-top: 142px;
  vertical-align: top;
  & > label {
    display: block;
  }

  .item-name{
    font-size: 20px;
    font-weight: bold;
  }
}

.button-group{

  & > button {
    display: block;
    margin-top: 15px;
    width:304px;
    background-color: #007bff;
  }

}
