.order-card{
  margin-top: 70px;
  float: left;
  width: 988px;
}
.order-value-card{
  left: 1050px;
  top: -66px;
}
.order-summary{
  font-weight: bold;
}
.place-order-button{
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}
.welcome-order{
  margin-top: 58px;
  margin-left: 20px;
  font-weight: bold;
}
