.order-card{
  margin-left: 30px;
  margin-top: 40px;
}
.order-value-card{
  margin-top: 40px;
}
.order-summary{
  font-weight: bold;
}
.place-order-button{
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}
.welcome-order{
  margin-top: 58px;
  margin-left: 30px;
  font-weight: bold;
}
.horizontal-line{
  background-color: lightgrey;
  height: 1px;
}
.order-image{
  height : 77px;
}
.product-name{
  font-weight: bold;
  margin-left: 127px;
  margin-top: -78px;
}
.product-code{
  margin-left: 127px;
  margin-top: -20px;
}
.product-price{
  margin-left: 127px;
  margin-top: -20px;
}
.product-quantity{
  margin-left: 127px;
  margin-top: -19px;
}
.product-rating{
  margin-left: 127px;
  margin-top: -19px;
}
.product-delivery{
  margin-left: 127px;
  margin-top: -19px;
  font-weight: bold;
}
.alert-box{
  width: 1453px;
}
